

QTreeView:branch:has-siblings:!adjoins-item {
  border-image: none;
}

QTreeView:branch:has-siblings:adjoins-item {
  border-image: none;
}

QTreeView:branch:!has-children:!has-siblings:adjoins-item {
  border-image: none;
}

