lib-obj/
CMakeFiles/
cmake_install.cmake
install_manifest.txt
ali/
obj/
interface/
CMakeCache.txt

*.exe
*.dll
*.rsp
*.csexe
*.resources
*.ilk
*.pdb
*.exp
*.lib
Visual Studio 17 2022/
buildlog.html
run0-*/


.ninja_deps
.ninja_log
build.ninja

ui_*
moc_*
*.so
